<div class="main-content">
    <h1>Hôpital INTI</h1>
    <br>
    <div class="container-fluid">
      <div class="row">
          <img src='https://images.pexels.com/photos/323705/pexels-photo-323705.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1' alt='image' width="450" height="297">
          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-tabs card-header-info">
                      <div class="nav-tabs-navigation">
                          <div class="nav-tabs-wrapper">
                              <span class="nav-tabs-title">Informations : </span>
                              <ul class="nav nav-tabs" data-tabs="tabs">
                                  <li class="nav-item">
                                      <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                                          <i class="material-icons">alarm</i> Horaires
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                                          <i class="material-icons">local_hospital</i> Adresse
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                                          <i class="material-icons">contact_phone</i> Contact
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="tab-content">
                          <div class="tab-pane active" id="profile">
                              <table class="table">
                                  <tbody>
                                    <tr>
                                        <td>Ouvert 24h/24
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Consultations du jour : de 9h à 18h
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Visite aux patients : de 13h à 20h
                                        </td>
                                    </tr>
                                  </tbody>
                              </table>
                          </div>
                          <div class="tab-pane" id="messages">
                              <table class="table">
                                <tbody>
                                    <tr>
                                        <td>47-83 Boulevard de l'Hôpital</td>
                                    </tr>
                                    <tr>
                                        <td>75004</td>
                                    <tr>
                                        <td>Paris
                                        </td>
                                    </tr>
                                </tbody>
                              </table>
                          </div>
                          <div class="tab-pane" id="settings">
                              <table class="table">
                                <tbody>
                                    <tr>
                                        <td>E-mail : hopital@inti.com</td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                        <td>Numéro de téléphone : 01 56 00 00 01</td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                        <td>Adresse postale : 47-83 Boulevard de l'Hôpital 75004 Paris Cedex 4
                                        </td>
                                    </tr>
                                </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
