<div>
    <h1>Dossier</h1>
    <form (ngSubmit)="saveDossier()">
        <table>
            <tr>
                <td>Facture</td>
                <td><input type="test" [(ngModel)]="dossier.factures" name="factures"></td>
            </tr> 
            <tr>
                <td>Ordonnance</td>
                <td><input type="test" [(ngModel)]="dossier.ordonnances" name="ordonnances"></td>
            </tr>    
            <tr>
                <td>Chambre</td>
                <td><input type="test" [(ngModel)]="dossier.chambres" name="chambres"></td>
            </tr>
            <tr>
                <td>Utilisateur</td>
                <td><input type="test" [(ngModel)]="dossier.user" name="user"></td>
            </tr>    
            <tr>
                <td colspan="2"><button>Modifier</button></td>
            </tr>  
        </table>
    </form>>
</div>>
<div>
    <table>
        <tr>
            <th>Facture</th>
            <th>Ordonnance</th>
            <th>Chambre</th>
            <th>Utilisateur</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let d of dossier">
                <td>{{d.factures}</td>
                <td>{{d.ordonnances}}</td>
                <td>{{d.chambres}}</td>
                <td>{{d.user}}</td>
                <td><button (click)="deleteDossier(d.idDossier)">Delete</button></td>
        </tr>
    </table>
    </div>