<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-info">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Je suis un médecin:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#rdv" data-toggle="tab">
                                            Plannifier RDV
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#dossiers" data-toggle="tab">
                                            Les Dossiers
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#ordonnances" data-toggle="tab">
                                            Ordonnances
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                                            Messages patients
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#statitiques" data-toggle="tab">
                                            Statistiques
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="rdv">
                                <table class="table">
                                    <tbody>                                        
                                        <tr>
                                            <td>
                                                <div><p>Plannifier nouveau RDV</p></div>
                                                <form (ngSubmit)="saveRDV()">
                                                    <table>
                                                        <tr>
                                                            <td>Type RDV</td>
                                                            <td><input type="text" [(ngModel)]="rdv.typeRDV" name="typeRDV"></td>
                                                        </tr> 
                                                        <tr>
                                                            <td>Heure RDV</td>
                                                            <td><input type="text" [(ngModel)]="rdv.heureRDV" name="heureRDV"></td>
                                                        </tr> 
                                                        <tr>
                                                            <td>Date RDV</td>
                                                            <td><input type="date" [(ngModel)]="rdv.dateRDV" name="dateRDV"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Diagnostic</td>
                                                            <td><input type="text" [(ngModel)]="rdv.diagnostic" name="diagnostic"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Patient</td>
                                                            <select multiple name="user" [(ngModel)]="rdv.user">
                                                                <option *ngFor="let u of utilisateurs" [ngValue]="u">
                                                                  {{utilisateur.nomUtilisateur}} 
                                                                </option>
                                                            </select>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2"><button>Créer</button></td>
                                                        </tr>  
                                                    </table>
                                                </form>
                                                <!--</div>-->
                                            <div>
                                                <table>
                                                    <tr>
                                                        <th>Type RDV</th>
                                                        <th>Heure RDV</th>
                                                        <th>Date RDV</th>
                                                        <th>Diagnostic</th>
                                                        <th>Patient</th>
                                                        <th>Action</th>
                                                    </tr>
                                                    <tr *ngFor="let r of rdv">
                                                            <td>{{r.typerdv}}</td>
                                                            <td>{{r.heurerdv}}</td>
                                                            <td>{{r.daterdv}}</td>
                                                            <td>{{r.diagnostic}}</td>
                                                            <td>{{r.user}}</td>
                                                            <td><button (click)="deleterdv(r.idrdv)">Delete</button></td>
                                                    </tr>
                                                </table>
                                                </div>
                                            </td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                            <div class="tab-pane" id="dossiers">
                                <table class="table">
                                    <tbody>                                        
                                        <tr>
                                            <td>
                                                <div>
                                                    <h1>Voir tous mes dossiers</h1>
                                                    <form (ngSubmit)="saveDossier()">
                                                        <table>
                                                            <tr>
                                                                <td>Facture</td>
                                                                <select multiple name="factures" [(ngModel)]="dossier.factures">
                                                                    <option *ngFor="let f of factures" [ngValue]="f">
                                                                      {{f.montant}} 
                                                                    </option>
                                                                  </select>
                                                            </tr>    
                                                            <tr>
                                                                <td>Ordonnance</td>
                                                                <select multiple name="ordonnances" [(ngModel)]="dossier.ordonnances">
                                                                    <option *ngFor="let o of ordonnances" [ngValue]="o">
                                                                      {{o.consigne}} 
                                                                    </option>
                                                                  </select>
                                                            </tr> 
                                                            <tr>
                                                                <td>Chambre</td>
                                                                <select multiple name="chambres" [(ngModel)]="dossier.chambres">
                                                                    <option *ngFor="let c of chambres" [ngValue]="c">
                                                                      {{c.numChambre}} 
                                                                    </option>
                                                                  </select>
                                                            </tr>  
                                                            <tr>
                                                                <td>Patient</td>
                                                                <select multiple name="user" [(ngModel)]="dossier.user">
                                                                    <option *ngFor="let u of utilisateurs" [ngValue]="u">
                                                                      {{utilisateur.nomUtilisateur}} 
                                                                    </option>
                                                                  </select>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2"><button>Ajouter</button></td>
                                                            </tr>  
                                                        </table>
                                                    </form>
                                                </div>
                                                <div>
                                                    <table>
                                                        <tr>
                                                            <th>Facture</th>
                                                            <th>Ordonnance</th>
                                                            <th>Chambre</th>
                                                            <th>Patient</th>
                                                            <th>Action</th>
                                                        </tr>
                                                        <tr *ngFor="let d of dossiers">
                                                                <td>{{d.factures}}</td>
                                                                <td>{{d.ordonnances}}</td>
                                                                <td>{{d.chambre}}</td>
                                                                <td>{{d.user}}</td>
                                                                <td><button (click)="deleteDossier(d.idDossier)">Delete</button></td>
                                                        </tr>
                                                    </table>
                                                    </div>
                                            </td>
                                         </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="ordonnances">
                                <table class="table">
                                    <tbody>                                        
                                        <tr>
                                            <td>
                                               <div><p>Consulter / rédiger Ordonnances</p>
                                                </div>
                                                <form (ngSubmit)="saveOrdonnance()">
                                                    <table>
                                                        <tr>
                                                            <td>consigne</td>
                                                            <td><input type="text" [(ngModel)]="ordonnance.consigne" name="consigne"></td>
                                                        </tr>    
                                                        <tr>
                                                            <td>Medicament</td>
                                                            <select multiple name="medicament" [(ngModel)]="ordonnance.medicament">
                                                                <option *ngFor="let m of medicament" [ngValue]="m">
                                                                  {{m.libelle}} 
                                                                </option>
                                                              </select>
                                                        </tr> 
                                                        <tr>
                                                            <td>Dossier</td>
                                                            <select multiple name="dossier" [(ngModel)]="ordonnance.dossier">
                                                                <option *ngFor="let d of dossier" [ngValue]="d">
                                                                  {{d.numChambre}} 
                                                                </option>
                                                              </select>
                                                        </tr>  
                                                        <tr>
                                                            <td>Patient</td>
                                                            <select multiple name="user" [(ngModel)]="dossier.user">
                                                                <option *ngFor="let u of utilisateurs" [ngValue]="u">
                                                                  {{utilisateur.nomUtilisateur}} 
                                                                </option>
                                                              </select>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2"><button>Ajouter</button></td>
                                                        </tr>  
                                                    </table>
                                                </form>
                                            <!--</div>-->
                                            <div>
                                                <table>
                                                    <tr>
                                                        <th>Consigne</th>
                                                        <th>Medicament</th>
                                                        <th>Dossier</th>
                                                        <th>Patient</th>
                                                        <th>Action</th>
                                                    </tr>
                                                    <tr *ngFor="let o of ordonnance">
                                                            <td>{{o.consigne}}</td>
                                                            <td>{{o.medicament}}</td>
                                                            <td>{{o.dossier}}</td>
                                                            <td>{{o.user}}</td>
                                                            <td><button (click)="deleteordonnance(d.idOrdonnance)">Delete</button></td>
                                                    </tr>
                                                </table>
                                                </div>
                                       </td>
                                     </tr>
                                </tbody>
                            </table>
                        </div>
                            <div class="tab-pane" id="messages">
                                <table class="table">
                                    <tbody>                                        
                                        <tr>
                                            <td>
                                                <div><p>Messages des patients</p></div>
                                                <form (ngSubmit)="saveMessage()">
                                                    <table>
                                                        <tr>
                                                            <td>Libelle</td>
                                                            <td><input type="text" [(ngModel)]="message.libelle" name="libelle"></td>
                                                        </tr>    
                                                        <tr>
                                                            <td>Patient</td>
                                                            <select multiple name="user" [(ngModel)]="message.user">
                                                                <option *ngFor="let u of utilisateurs" [ngValue]="u">
                                                                  {{utilisateur.nomUtilisateur}} 
                                                                </option>
                                                              </select>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2"><button>Ajouter</button></td>
                                                        </tr>  
                                                    </table>
                                                </form>
                                            <!--</div>-->
                                            <div>
                                                <table>
                                                    <tr>
                                                        <th>Libelle</th>
                                                        <th>Patient</th>
                                                        <th>Action</th>
                                                    </tr>
                                                    <tr *ngFor="let m of message">
                                                            <td>{{m.message}}</td>
                                                            <td>{{m.user}}</td>
                                                            <td><button (click)="deleteMessage(m.idMessage)">Delete</button></td>
                                                    </tr>
                                                </table>
                                                </div>
                                        <!--</td>
                                     </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->