<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-info">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Je suis un médecin:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#agenda" data-toggle="tab">
                                            Agenda
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#rdv" data-toggle="tab">
                                            Plannifier RDV
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#dossiers" data-toggle="tab">
                                            Les Dossiers
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#interventions" data-toggle="tab">
                                            Interventions
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#ordonnances" data-toggle="tab">
                                            Ordonnances
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                                            Messages patients
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="Agenda">
                                <table class="table">
                                    <tbody>                                        
                                        <tr>
                                            <td>
                                                <div><p>Consulter Agenda</p></div>
                                            </td>
                                         </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="rdv">
                                <table class="table">
                                    <tbody>                                        
                                        <tr>
                                            <td>
                                                <div><p>Plannifier nouveau RDV</p></div>
                                            </td>
                                         </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="dossiers">
                                <table class="table">
                                    <tbody>                                        
                                        <tr>
                                            <td>
                                                <div><p>Voir tous mes dossiers</p></div>
                                            </td>
                                         </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="interventions">
                                <table class="table">
                                    <tbody>                                        
                                        <tr>
                                            <td>
                                                <div><p>Definir une nouvelle interventions</p></div>
                                            </td>
                                         </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="ordonnances">
                                <table class="table">
                                    <tbody>                                        
                                        <tr>
                                            <td>
                                                <div><p>Consulter / rédiger Ordonnances</p></div>
                                            </td>
                                         </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="messages">
                                <table class="table">
                                    <tbody>                                        
                                        <tr>
                                            <td>
                                                <div><p>Messages des patients</p></div>
                                            </td>
                                         </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>