<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-info">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Je suis un patient:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#liste" data-toggle="tab">
                                            Liste des médecins
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#dossier" data-toggle="tab">
                                            Mon dossier
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#ordonnances" data-toggle="tab">
                                            Mes ordonnances
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#factures" data-toggle="tab">
                                            Mes factures
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#statistiques" data-toggle="tab">
                                            Statistiques
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="liste">
                                <table class="table">
                                    <tbody>                                        
                                        <tr>
                                            <td>
                                                <!-- Début de la liste des médecins-->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="card">
                                                            <div class="card-header card-header-success">
                                                                <h4 class="card-title ">Liste des médecins de l'hôpital</h4>
                                                                <p class="card-category"> Here is a subtitle for this table</p>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="table-responsive">
                                                                    <table class="table">
                                                                        <thead class=" text-primary">
                                                                            <th>
                                                                                ID
                                                                            </th>
                                                                            <th>
                                                                                Name
                                                                            </th>
                                                                            <th>
                                                                                Country
                                                                            </th>
                                                                            <th>
                                                                                City
                                                                            </th>
                                                                            <th>
                                                                                Salary
                                                                            </th>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    1
                                                                                </td>
                                                                                <td>
                                                                                    Dakota Rice
                                                                                </td>
                                                                                <td>
                                                                                    Niger
                                                                                </td>
                                                                                <td>
                                                                                    Oud-Turnhout
                                                                                </td>
                                                                                <td class="text-primary">
                                                                                    $36,738
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Fin de liste médecin-->
                                            </td>
                                         </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="dossier">
                                <table class="table">
                                    <tbody>                                        
                                        <tr>
                                            <td>
                                                <!-- Début de mon dossier-->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="card">
                                                            <div class="card-header card-header-success">
                                                                <h4 class="card-title ">To be created</h4>
                                                                <p class="card-category"> Here is a subtitle for this table</p>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="table-responsive">
                                                                    <table class="table">
                                                                        <thead class=" text-primary">
                                                                            <th>
                                                                                ID
                                                                            </th>
                                                                            <th>
                                                                                Name
                                                                            </th>
                                                                            <th>
                                                                                Country
                                                                            </th>
                                                                            <th>
                                                                                City
                                                                            </th>
                                                                            <th>
                                                                                Salary
                                                                            </th>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    1
                                                                                </td>
                                                                                <td>
                                                                                    Dakota Rice
                                                                                </td>
                                                                                <td>
                                                                                    Niger
                                                                                </td>
                                                                                <td>
                                                                                    Oud-Turnhout
                                                                                </td>
                                                                                <td class="text-primary">
                                                                                    $36,738
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Fin de mon dossier-->
                                            </td>
                                         </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="ordonnances">
                                <table class="table">
                                    <tbody>                                        
                                        <tr>
                                            <td>
                                                <!--Début de mes ordonnances-->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="card">
                                                            <div class="card-header card-header-success">
                                                                <h4 class="card-title ">Liste des ordonnances</h4>
                                                                <p class="card-category"> Here is a subtitle for this table</p>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="table-responsive">
                                                                    <table class="table">
                                                                        <thead class=" text-primary">
                                                                            <th>
                                                                                Date de l'ordonnance
                                                                            </th>
                                                                            <th>
                                                                                Médecin 
                                                                            </th>
                                                                            <th>
                                                                                télécharger
                                                                            </th>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    10/10/10
                                                                                </td>
                                                                                <td>
                                                                                    Dakota Rice
                                                                                </td>
                                                                                <td>
                                                                                    plugin
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Fin de mes ordonnances-->
                                            </td>
                                         </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="factures">
                                <table class="table">
                                    <tbody>                                        
                                        <tr>
                                            <td>
                                                <!--Début de mes factures-->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="card">
                                                            <div class="card-header card-header-success">
                                                                <h4 class="card-title ">Liste des factures</h4>
                                                                <p class="card-category"> Here is a subtitle for this table</p>
                                                            </div>
                                                            <!--
                                                            <div class="card-body">
                                                                <div class="table-responsive">
                                                                    <form (ngSubmit)="findByDossier()"> <!--insert here the id of the current user with a currentUser: Observable<User> in service and JSON.parse(localStorage.getItem('currentUser')--><!--
                                                                    <table class="table">
                                                                        <thead class=" text-primary">
                                                                            <th>
                                                                                Date de la facture
                                                                            </th>
                                                                            <th>
                                                                                Etat
                                                                            </th>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <tr *ngFor="let f of factures">
                                                                                        {{f.montant}}
                                                                                        {{f.paye}}
                                                                                    </tr>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </form>
                                                                </div>
                                                            </div>-->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Fin de mes factures-->
                                            </td>
                                         </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="statistiques">
                                <table class="table">
                                    <tbody>                                        
                                        <tr>
                                            <td>
                                                <!--Début statistiques-->
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="card card-chart">
                                                            <div class="card-header card-header-info">
                                                                <div class="ct-chart" id="dailySalesChart"></div>
                                                            </div>
                                                            <div class="card-body">
                                                                <h4 class="card-title">Cas de covid</h4>
                                                                <p class="card-category">
                                                                    <span class="text-danger"><i class="fa fa-long-arrow-up"></i> 55% </span> de cas supplémentaires</p>
                                                            </div>
                                                            <div class="card-footer">
                                                                <div class="stats">
                                                                    <i class="material-icons">access_time</i> mis à jour à 12h00
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="card card-chart">
                                                            <div class="card-header card-header-warning">
                                                                <div class="ct-chart" id="websiteViewsChart"></div>
                                                            </div>
                                                            <div class="card-body">
                                                                <h4 class="card-title">Nombre de visites</h4>
                                                                <p class="card-category">Affluence journalière de l'hôpital</p>
                                                            </div>
                                                            <div class="card-footer">
                                                                <div class="stats">
                                                                    <i class="material-icons">access_time</i> mis à jour à 12h00
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="card card-chart">
                                                            <div class="card-header card-header-danger">
                                                                <div class="ct-chart" id="completedTasksChart"></div>
                                                            </div>
                                                            <div class="card-body">
                                                                <h4 class="card-title">Effectifs</h4>
                                                                <p class="card-category">Emmanuel Macron nous a abandonné</p>
                                                            </div>
                                                            <div class="card-footer">
                                                                <div class="stats">
                                                                    <i class="material-icons">access_time</i> mis à jour hier
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!--Fin de statistiques-->
                                            </td>
                                         </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
