<div class="main-content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title ">1) Pour qui est le rendez-vous ?</h4>
                    <p class="card-category">Sélectionnez pour qui voulez-vous prendre un rendez-vous</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <!-- <th>
                                  Spécialité
                                </th> -->
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                      <input type="checkbox"> Je prends un rendez-vous pour moi
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                      <input type="checkbox"> Je prends un rendez-vous pour mon enfant
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                      <input type="checkbox"> Je prends un rendez-vous pour un tiers
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <div class="row">
      <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title mt-0"> 2) Avez-vous déjà consulter un de nos médecins ?</h4>
                <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="">
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    <input type="checkbox"> Oui
                                </th>
                                <th>
                                    <input type="checkbox"> Non
                                </th>
                                <!--<td>
                                    1
                                </td>
                                <td>
                                    g Rice
                                </td>
                                <td>
                                    Niger
                                </td>
                                <td>
                                    Oud-Turnhout
                                </td>
                                <td>
                                    $36,738
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    Minerva Hooper
                                </td>
                                <td>
                                    Curaçao
                                </td>
                                <td>
                                    Sinaai-Waas
                                </td>
                                <td>
                                    $23,789
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3
                                </td>
                                <td>
                                    Sage Rodriguez
                                </td>
                                <td>
                                    Netherlands
                                </td>
                                <td>
                                    Baileux
                                </td>
                                <td>
                                    $56,142
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    4
                                </td>
                                <td>
                                    Philip Chaney
                                </td>
                                <td>
                                    Korea, South
                                </td>
                                <td>
                                    Overland Park
                                </td>
                                <td>
                                    $38,735
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    5
                                </td>
                                <td>
                                    Doris Greene
                                </td>
                                <td>
                                    Malawi
                                </td>
                                <td>
                                    Feldkirchen in Kärnten
                                </td>
                                <td>
                                    $63,542
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    6
                                </td>
                                <td>
                                    Mason Porter
                                </td>
                                <td>
                                    Chile
                                </td>
                                <td>
                                    Gloucester
                                </td>
                                <td>
                                    $78,615
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">3) Motif</h4>
                        <p class="card-category">Sélectionnez le motif de votre consultation</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary"> 
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox"> Chirurgie générale
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox"> Neurochirurgie
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox"> Pédiatrie
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">4) Médecin</h4>
                        <p class="card-category">Sélectionnez l'un de nos médecins disponibles</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary"> 
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox"> Meredith Grey
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox"> Derek Chepherd
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox"> Alex Karev
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">5) Horaire</h4>
                        <p class="card-category">Sélectionnez la date et l'horaire disponible</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                    Date
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox"> Lundi
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox"> Mardi
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox"> Mercredi
                                        </td>
                                    </tr>
                                </tbody>
                                <thead class=" text-primary">
                                    <th>
                                    Horaire
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox"> 12h
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox"> 14h
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox"> 16h
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">6) Confirmez votre rendez-vous</h4>
                        <p class="card-category">Vérifiez les informations précédentes puis cliquez sur envoyer</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary"> 
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="button" value="Envoyer">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
</div>
