
<div class="main-content">
  <div class="container-fluid">
      <div class="card card-plain">
          <div class="card-header card-header-danger">
              <h4 class="card-title">Faire un don</h4>
              <h2><em>Engagez-vous à nos côtés ! </em></h2>
<p><em>Donateurs particuliers, fondations, mécènes d’entreprises, votre aide est essentielle. Chaque don est utile et constitue un encouragement pour les équipes médicales et soignantes.</em></p>
<p><strong><em>Votre générosité nous permet :</em></strong></p>
<ul>
<li><em>d’améliorer la qualité d’accueil et le confort des patients petits et grands,</em></li>
<li><em>d’acquérir du matériel médical de pointe issu des technologies les plus avancées,</em></li>
<li><em>de valoriser et moderniser le patrimoine hospitalier.</em></li>
</ul>
<p><strong><em>Aidez-nous à concrétiser un projet qui vous ressemble :</em></strong></p>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="card-body">
                      <div class="iframe-container d-none d-lg-block">
                          <iframe src="https://fonds-guilhem.chu-montpellier.fr/fr/nous-soutenir">
                              <p>Your browser does not support iframes.</p>
                          </iframe>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
