<div class="main-content">
    <div class="container-fluid">

            <div class="dropdown show-dropdown show">
                <a href="#" data-toggle="dropdown" aria-expanded="true">
                    <i class="fa fa-cog fa-2x">Se connecter</i>
                </a>
            <ul class="dropdown-menu show" x-placement="bottom-start">
                <div class="row">
                    <div class="card">
                    <p>Je suis un patient</p>
                    </div>
                </div>
            <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">card-header-danger</h4>
                        <p class="card-category">Are you looking for different colors ? Here is a set of 5 different colors with the card-header-xxx.</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table-upgrade">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="text-center card-header-info">card-header-info</th>
                                        <th class="text-center card-header-warning">card-header-warning</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Components</td>
                                        <td class="text-center card-header-primary">card-header-primary</td>
                                        <td class="text-center card-header-success">card-header-success</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center card-header-tabs">card-header-tabs</td>
                                        <td class="text-center ">Free for looking</td>
                                        <td class="text-center">Just 59€ for using</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <a href="javascript:void(0)" class="btn btn-round btn-fill btn-default disabled">Current Version</a>
                                        </td>
                                        <td class="text-center">
                                            <a target="_blank" href="https://www.creative-tim.com/product/material-dashboard-pro-angular2?ref=md-free-angular-upgrade-live" class="btn btn-round btn-fill btn-info">Upgrade to PRO</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </ul>
        </div>


        <!-- deuxième type de menu
        <ul class="dropdown-menu show" x-placement="bottom-start">
            <a href="#" data-toggle="dropdown" aria-expanded="true">
                <i class="fa fa-cog fa-2x"> </i>
            </a>
            <p>Salut</p>
        </ul>
    </div>

        <div>
            <li class="nav-item dropdown">
                <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">notifications</i>
                    <span class="notification">5</span>
                    <p>
                        <span class="d-lg-none d-md-block">Some Actions</span>
                    </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Mike John responded to your email</a>
                    <a class="dropdown-item" href="#">You have 5 new tasks</a>
                    <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                    <a class="dropdown-item" href="#">Another Notification</a>
                    <a class="dropdown-item" href="#">Another One</a>
                </div>
            </li>
        </div>
    -->
        
    </div>
</div>
