<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-info">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <h4 class="card-title">Envoyez un message</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="liste">
                                  <div class="container">
                                    <p>Bonjour est-ce que y a quelqu'un</p>
                                    <span class="time-right">11:02</span>
                                  </div>
                                  
                                  <div class="container darker">
                                    <img src="https://cdna.pcpartpicker.com/static/forever/images/user/2955525.9628877d0a90e8d86f6396e6ecd2ac5d.256c.jpg" alt="Avatar" class="right">
                                    <p>Bienvenue sur le service de messagerie de l'hôpital INTI</p>
                                    <p>Ceci est un message automatique</p>
                                    <p>Avez-vous une question</p>
                                    <span class="time-left">11:03</span>
                                  </div>

                                  <div class="container">
                                    <p><textarea placeholder="Tapez votre message" cols="120" rows="5"></textarea></p>
                                  <button>Envoyer</button>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
