<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-info">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Je suis un patient:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#liste" data-toggle="tab">
                                            Liste des médecins
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#dossier" data-toggle="tab">
                                            Mon dossier
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#ordonnances" data-toggle="tab">
                                            Mes ordonnances
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="" data-toggle="tab">
                                            Mes factures
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="" data-toggle="tab">
                                            Statistiques
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="liste">
                                <table class="table">
                                    <tbody>                                        
                                        <tr>
                                            <td>
                                                <div><p>Coucou liste</p></div>
                                            </td>
                                         </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane active" id="dossier">
                                <table class="table">
                                    <tbody>                                        
                                        <tr>
                                            <td>
                                                <div><p>Coucou dossier</p></div>
                                            </td>
                                         </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane active" id="ordonnances">
                                <table class="table">
                                    <tbody>                                        
                                        <tr>
                                            <td>
                                                <div><p>Coucou ordonnances</p></div>
                                            </td>
                                         </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
